*{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    display:block;
    max-width: 600px;
    margin:30px auto;
    align-content: center;
    border-style:solid;
    border-width: 1px;
    padding:70px;
    line-height: 1.5;   
}
main{
    padding-top: 20px;
}
.list{
    margin:0;
    padding-bottom: 50px;
    padding-left:50px;
}
.list li{
    padding:10px;
}
header{
    letter-spacing: 2px;
    text-transform: uppercase;
}
header h1{
    text-align: center;
    font-size: 1.8em;
}
header h2{
    text-align: center;
    color:#006EB6;
    border-bottom: solid gray;
    border-width:1px;
    font-size: .8em;
}
p{
    padding:15px;
    text-align: left;
    margin:0;
}
footer{
    display:grid;
    padding-top:10px;
}
footer img{
    width:150px;
    align-self:center;
    margin:0 auto;
}
.dark{
    background-color: #333;
    color:white;   
}
.dark h2{
    color: #a0d4ed;
}